@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --Primary-color:rgb(207, 212, 255);
}
header{
    background-color: rgb(51, 53, 70);
    display: flex;
    height: 10.5em;
    padding: 10px;
    color: var(--Primary-color);    
}
.logo {
    display: flex;
    height: 10rem;
    width: 10rem;
    margin-top: 0.3em;   
}
.info{
    display: flex;
    margin: 0 0 0.5em 0;
    flex-direction:column;
    justify-content: center;
    flex:1;
}
.titulo{
    display:flex;
    justify-content:center;
    font-style: var(--second-font);
    margin:0;
    padding-bottom: 0.3em;   
}
nav{
    display: flex;
    flex-direction: column;
    padding-top: 2em;    
}
nav ul{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
}